{{$result := .Result}}
{{$resource := .Resource}}

{{$actions := load_actions "new"}}
{{if $actions}}
  <div class="qor-page__header">{{$actions}}</div>
{{end}}

<div class="qor-page__body qor-page__edit">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-form-container">
    <form class="qor-form" action="{{url_for $result $resource}}" method="POST" enctype="multipart/form-data" data-action-url="{{join_url (url_for $result $resource) "!setting"}}">

      <div class="qor-layout__widget qor-layout__widget-new" data-toggle="qor.widget">
        <ul class="qor-slideout__lists">
          {{range $groupWidget := widget_grouped_widgets}}
            <li>
              <h5 class="qor-slideout__lists-groupname">{{t (printf "qor_widgets.group.%v" $groupWidget.Group) $groupWidget.Group}}</h5>
              {{range $widget := $groupWidget.Widgets}}
                <div class="qor-slideout__lists-item">
                  <a href="{{patch_url (join_url (url_for $resource) "!setting") "widget_type" $widget.Name}}" data-widget-type="{{$widget.Name}}" class="qor-widget__new">
                    {{if $widget.PreviewIcon}}
                      <img src="{{$widget.PreviewIcon}}">
                    {{end}}
                    <span>{{$widget.Name}}</span>
                  </a>
                </div>
              {{end}}
            </li>
          {{end}}
        </ul>

        <div class="qor-layout__widget-selector" style="display: none;">
          {{render_form $result new_sections}}
        </div>
        <div class="qor-layout__widget-setting"></div>

        {{if has_update_permission $resource}}
          <div class="qor-form__actions qor-layout__widget-actions" style="display: none;">
            <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save" type="submit">{{t "qor_admin.form.save" "Save"}}</button>
            <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-widget__cancel" href="javascript://">{{t "qor_admin.form.cancel" "Cancel"}}</a>
          </div>
        {{end}}

      </div>

    </form>
  </div>
</div>
