.qor-slideout__lists {
    margin: 24px 0;
    padding: 0;
    li {
        list-style: none;
        padding: 0;
        margin: 12px 0;
    }
    .qor-slideout__lists-item {
        img {
            width: 100%;
            max-height: 90px;
            margin: 0 auto;
            display: block;
            margin-bottom: 8px;
        }
        >a {
            display: inline-block;
            vertical-align: top;
            padding: 8px;
            border-radius: 2px;
            width: 27%;
            color: rgba(0, 0, 0, .75);
            margin-right: 2%;
            margin-bottom: 24px;
            text-align: center;
            &:hover {
                background-color: rgba(0, 0, 0, .04);
            }
            &::nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

.qor-layout__widget-new {
    .qor-layout__widget-selector {
        &+[data-section-title="Settings"] {
            display: none;
        }
    }
}

.qor-bottomsheets__body {
    .qor-layout__widget-new {
        padding: 0 24px 0 0;
    }
    .qor-slideout__lists {
        .qor-slideout__lists-item>a {
            width: 41%;
        }
    }
}

.qor-theme-widget {
    .qor-table__content {
        overflow: inherit;
        max-height: none;
    }
    .mdl-data-table td,
    .mdl-data-table tbody tr {
        height: auto;
    }
    .qor-table img {
        &.qor-preview-icon {
            width: 120px !important;
            height: auto !important;
            max-height: 80px;
        }
    }
}