.qor-slideout__lists {
    margin: 24px 0;
    padding: 0;
    li {
        list-style: none;
        padding: 0;
        margin: 12px 0;
    }
    .qor-slideout__lists-item {
        img {
            max-width: 100%;
            max-height: 90px;
            width: auto;
            margin: 0 auto;
            display: block;
        }
        >a {
            display: inline-block;
            vertical-align: top;
            width: 27%;
            margin-right: 2%;
            margin-bottom: 24px;
            text-align: center;
            &::nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

.qor-layout__widget-new {
    .qor-layout__widget-selector {
        &+[data-section-title="Settings"] {
            display: none;
        }
    }
}

.qor-bottomsheets__body {
    .qor-layout__widget-new {
        padding: 0 24px 0 40px;
    }
}